{% set assetHash = helpers.random() %}

<!doctype html>
<html lang="{{ meta.lang }}">
  <!-- The order of elements in the head follows recommendations by Harry Roberts. learn more here: https://www.youtube.com/watch?v=MHyAOZ45vnU -->

  <head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.12.2/cloudinary-core-shrinkwrap.min.js" integrity="sha512-5Maev53WjIhPS3Rqi9l3lrJjfbty3HXa1IOQKIIcgXEv23Ob3pEWUjWDYao/DdeBVSxbAjX6pK1XOOeJCUi/NQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
    <!-- 1 charset/viewport -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 2 title -->
    <title>
      {% if discover.title %}
        {{ discover.title }}
      {% elif title %}
        {{ title }}
      {% else %}
        {{ meta.siteName }}
      {% endif %}
    </title>

    <!-- 3 synchronous js  -->
    {% include "partials/js-inline.njk" %}

    <!-- 4 schema settings -->
    {% include "partials/schema.njk" %}

    <!-- 5 CSS  -->
    {% include "partials/css.njk" %}

    <!-- 6 preloads  -->
    {% include "partials/preloads.njk" %}

    <!-- 8 everything else: meta tags, icons, open graph etc.  -->
    {% include "partials/meta-info.njk" %}
  </head>

  <body class="{{ layout }}">
    {% include "partials/header.njk" %}

    <main id="main" class="flow">{{ content | safe }}</main>

    {% include "partials/footer.njk" %}

    <script type="module" src="/assets/components/custom-easteregg.js"></script>
    <custom-easteregg keyword="yay" shape="🌈" particle-count="50"></custom-easteregg>
  </body>
  <script type="text/javascript">
      my_breakpoints = function (width){  // width - the current width of the containing element
        return 50 * Math.ceil(width / 50);
      }
      var cl = cloudinary.Cloudinary.new({cloud_name: "paulapplegate-com"}); 
         cl.config({breakpoints:my_breakpoints, responsive_use_breakpoints:"resize"})
      cl.responsive();
  </script>

</html>
