<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="wrapper">
  <div class="repel ontop">
    <a href="/" class="logo | cluster" {% if page.url == "/" %}aria-current="page"{% endif %}>
      {% svg "misc/star" %}

      <span>{{ meta.siteName }}</span>
    </a>
    {% include "components/custom-nav.njk" %}
  </div>
</header>
